<!DOCTYPE html>
<html lang="En">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Smart Refrigerator</title>
    <link rel="stylesheet" href="/static/ref.css?v=12345">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

</head>

<body>
<header>
    <h1>IoT Smart Refrigerator</h1>
</header>

<!-- آیکن  -->
<div class="menu-toggle" onclick="toggleSidebar()">☰</div>
<!-- منوی کشویی (سایدبار) -->
<div id="sidebar" class="sidebar">
  <div class="sidebar-header">
    <span>setting</span>
  </div>
  <ul class="sidebar-menu">
    <li onclick="openWifiModal()">Wi-Fi</li>
    <!-- می‌تونی آیتم‌های بیشتری اضافه کنی -->
  </ul>
</div>

  
  <!-- Modal فرم Wi-Fi -->
  <div id="wifi-modal" class="modal">
    <div class="modal-content">
      <div class="modal-close" onclick="closeWifiModal()">×</div>
      <h3>Set Wi-Fi</h3>
      <input type="text" id="wifi-ssid" placeholder="Wi-Fi SSID">
      <input type="password" id="wifi-password" placeholder="Wi-Fi Password">
      <button onclick="sendWifiConfig()" class="btn">Connect</button>
    </div>
  </div>
  
  
<div class="container">
    <div class="temperature-box">
        <h4>Temperature: <span id="temperature">-</span></h4>
        <h4>Humidity: <span id="humidity">-</span></h4>
        <h4>Door Status: <span id="door_status">-</span></h4>
    </div>
</div>

<!-- دکمه Door در هدر سمت راست -->
<div class="header-buttons">
    <button class="door-btn" onclick="fetchAndShowDoorModal()">
        <img src="/static/icons/fridge-icon.png" alt="fridge icon" />
    </button>
  </div>
  
  <!-- Modal کنترل در -->
  <div id="door-modal" class="modal">
    <div class="modal-content">
      <p id="door-state-text">وضعیت در در حال بررسی...</p>
      <button id="door-action-btn" class="btn" onclick="handleDoorAction()">...</button>
    </div>
  </div>
  

  
<div style="text-align: center; margin: 15px;">
    <input type="text" id="barcode" placeholder="Enter barcode:" />
    <button onclick="removeItem()" class="btn">remove</button>
</div>


<table id="inventory-table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Amount</th>
            <th>Barcode</th>
        </tr>
    </thead>
    <tbody>
        <!-- اطلاعات کالاها در اینجا نمایش داده خواهد شد -->
    </tbody>
</table>

<script src="/static/scripts.js"></script>

</body>
</html>
